.rightBar {
  flex: 3;
  position: sticky;
  top: 70px;
  height: calc(100vh - 70px);
  overflow: scroll;

  color: var(--textColor);
  background-color: var(--bgSoft);

/* 
  @include tablet {
    display: none;
  }

  @include mobile {
    display: none;
  }
*/
}

.rightBar::-webkit-scrollbar {
  display: none;
}

.container {
  padding: 20px;
}
.container .item {
  padding: 20px;
  margin-bottom: 20px;
  background-color: var(--bg);
  -webkit-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
  -moz-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
  box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
}
.container .item span {
  color: grey;
}
.container .item .user {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0;
}
.container .item .user .userInfo {
  display: flex;
  align-items: center;
  gap: 20px;
  position: relative;
}
.container .item .user .userInfo img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid lightgrey;
  object-fit: cover;
}
.container .item .user .userInfo .online {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: limegreen;
  position: absolute;
  top: 0;
  left: 30px;
}
.container .item .user .userInfo p {
  color: var(--textColorSoft);
}
.container .item .user .userInfo span {
  font-weight: 500;
  color: var(--textColor);
}
.container .item .user .buttons {
  display: flex;
  align-items: center;
  gap: 10px;
}
.container .item .user .buttons button {
  border: none;
  padding: 5px;
  color: white;
  cursor: pointer;
}
.container .item .user .buttons .follow {
  background-color: #5271ff;
}
.container .item .user .buttons .dismiss {
  background-color: #f0544f;
}
