.container {
  background-color: var(--bg);
}

.dropArea {
  border: 0.2em solid var(--textColor);
  border-radius: 0.3em;
  padding: 0.5em;
}

.formContainer {
  gap: 8px;

  display: flex;
  align-items: flex-end;
}
.formContainer div label {
  color: var(--textColorSoft) !important;
}
.formContainer div div textarea {
  color: var(--textColor) !important;
}
.formContainer div div fieldset {
  border-color: var(--textColorSoft) !important;
}
