{
  "semi": true,
  "trailingComma": "all",
  "singleQuote": true,
  "useTabs": false,
  "tabWidth": 2,
  "arrowParens": "always",
  "bracketSpacing": false,
  "endOfLine": "crlf",
  "bracketSameLine": true,
  "overrides": [
    {
      "files": ["*.ts"],
      "options": {
        "parser": "typescript"
      }
    },
    {
      "files": ["*.json"],
      "options": {
        "parser": "json"
      }
    }
  ]
}
