.container {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  padding-bottom: 1cqw;
}
.container:first-child {
  margin-top: 1cqw;
}
.container:not(:last-child) {
  border-bottom: 1px solid var(--borderColor);
}
.link {
  color: var(--textColor);
  text-decoration: none;
  cursor: pointer;
}
.avatar {
  width: 12cqw;
  height: 12cqw;
  border-radius: 50%;
  background-color: var(--bgSoft);
}
.avatar img {
  width: 12cqw;
  height: 12cqw;
  border-radius: 50%;
  object-fit: cover;
}
.userInfo {
}

.fullname {
  text-transform: capitalize;
  font-weight: 700;
}

.controllers {
  display: flex;
  align-items: center;
  justify-content: center;
}
.addContact {
  border: none;
  background-color: #5271ff;
  color: white;
  padding: 0.5cqw 1cqw;
  border-radius: 5px;
  cursor: pointer;
}
