.container {
  display: grid;
  grid-template-columns: auto 3fr auto;
  gap: 16px;
  padding-bottom: 8px;
}
.container:first-child {
  margin-top: 8px;
}
.container:not(:last-child) {
  border-bottom: 1px solid var(--borderColor);
}
.link {
  color: var(--textColor);
  text-decoration: none;
  cursor: pointer;
}
.avatar {
  width: 4em;
  height: 4em;
  border-radius: 50%;
  background-color: var(--bgSoft);
}
.avatar img {
  width: 4em;
  height: 4em;
  border-radius: 50%;
}
.userInfo {
}

.fullname {
  text-transform: capitalize;
  font-weight: 700;
}

.controllers {
  display: flex;
  align-items: center;
  justify-content: center;
}
.addContact {
  border: none;
  background-color: #5271ff;
  color: white;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
}
