.container {
  display: grid;
  grid-template-columns: 4em 1fr auto;
  gap: 16px;
  padding-bottom: 8px;
}
.container:first-child {
  margin-top: 8px;
}
.container:not(:last-child) {
  border-bottom: 1px solid var(--borderColor);
}

.avatar {
  align-self: start;
}
.main {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
.controllers {
  display: flex;
  align-items: center;
}
button.addContact {
  text-transform: none;
}
