.login {
  grid-area: header;
  height: 100vh;
  background-color: rgb(193, 190, 255);
  display: flex;
  align-items: center;
  justify-content: center;
}
.card {
  min-width: 60%;

  display: flex;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
}

.right {
  flex: 1;
  padding: 50px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: center;
}
.right h1 {
  color: #555555;
}
