.user {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 500;
}
.avatar {
  width: 30px;
  height: 30px;
  border: 1px solid lightgrey;
  border-radius: 50%;
  object-fit: cover;
}

.name {
  font-weight: 500;
  color: black;
}
