.container {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  padding-bottom: 1cqw;
}

.container:not(:last-child) {
  border-bottom: 1px solid var(--borderColor);
}
.link {
  color: var(--textColor);
  text-decoration: none;
  cursor: pointer;
}
.avatar {
  width: 12cqw;
  height: 12cqw;
  border-radius: 50%;
  background-color: var(--bgSoft);
}
.avatar img {
  width: 12cqw;
  height: 12cqw;
  border-radius: 50%;
  object-fit: cover;
}
.userInfo {
  display: flex;
  flex-direction: column;
}

.fullname {
  text-transform: capitalize;
  font-weight: 700;
}
