.container {
  border-radius: 16px;
  padding: 8px;

  margin-top: 5px;
  color: var(--textColor);
  background-color: var(--substrate);

  display: flex;
  flex-direction: column;
}

.content {
  /* overflow-wrap: break-word; */
  /* word-wrap: break-word; */
  word-break: break-word;
  /* word-break: break-all; */
}

.imagesContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, auto));
  grid-auto-rows: minmax(0, auto);
  grid-auto-flow: dense;
  gap: 4px;
}

.imgWrapper {
}
.image {
  /* width: 100%;
  height: 100%;
  object-fit: fill; */
}

.time {
  font-size: 0.7em;
  margin-left: auto;
}
