.container {
  border-radius: 16px;
  padding: 8px;

  margin-top: 5px;
  color: var(--textColor);
  background-color: var(--substrate);

  display: flex;
  flex-direction: column;
}

.content {
  word-break: break-word;
}

.media {
  margin-top: 8px;
}

.media:first-child {
  margin-top: 0px;
}

.time {
  font-size: 0.7em;
  margin-left: auto;
}
