.footer {
  display: flex;
  align-items: center;
  gap: 8px;
}
.item {
  display: flex;
  align-items: center;
  gap: 4px;
  cursor: pointer;
}
.item.disabled {
  color: grey;
  cursor: not-allowed;
}
