.main {
  grid-area: content;
  overflow-y: auto;
}

@media (min-width: 1025px) {
  .main {
    margin-right: 15vw;
  }
}

@media (min-width: 1441px) {
  .main {
    margin-right: 25vw;
  }
}
/* 
.main::-webkit-scrollbar {
  display: none;
} */
