.commentContainer {
  padding: 16px;
}

.text {
  word-break: break-word;
}

.date {
  color: var(--textColorSoft);
  font-size: 0.8em;
  text-align: right;
}
.comment {
  display: grid;
  grid-template-columns: auto auto;
}
