.images {
  width: 100%;
  height: 40cqw;
  position: relative;
}

.coverContainer {
  width: 100%;
  height: 100%;
  background-color: var(--substrate);
}
.cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.avatarContainer {
  width: 20cqw;
  height: 20cqw;
  background-color: var(--substrate);
  border-radius: 50%;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 29cqw;
}
.avatar {
  width: 20cqw;
  height: 20cqw;
  border-radius: 50%;
  object-fit: cover;
}
.profileContainer {
  padding: 1cqw 3cqw;
}
.profileContainer .userInfo {
  height: 26cqw;
  padding: 3cqw;
  margin-bottom: 2cqw;
  border-radius: 20px;
  color: var(--textColor);
  background-color: var(--bg);
  -webkit-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
  -moz-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
  box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.profileContainer .userInfo .left {
  flex: 1;
  display: flex;
  gap: 1cqw;
}
.profileContainer .userInfo .left a {
  color: var(--textColorSoft);
}
.icon {
  font-size: 3cqw !important;
}
.profileContainer .userInfo .center {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1cqw;
}
.profileContainer .userInfo .center span {
  font-size: 3cqw;
  font-weight: 500;
}
.profileContainer .userInfo .center .info {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.profileContainer .userInfo .center .info .item {
  display: flex;
  align-items: center;
  gap: 0.5cqw;
  color: var(--textColorSoft);
}
.profileContainer .userInfo .center .info .item span {
  font-size: 12px;
}
.profileContainer .userInfo .center button {
  border: none;
  background-color: #5271ff;
  color: white;
  padding: 1cqw 2cqw;
  border-radius: 5px;
  cursor: pointer;
}
.profileContainer .userInfo .right {
  flex: 1;
  display: flex;
  gap: 1cqw;
  align-items: center;
  justify-content: flex-end;
}
