.form {
  display: flex;
  flex-direction: column;
}

.form label {
  color: #555555;
}

.form .input {
  width: 100%;
  border: none;
  border-bottom: 1px solid lightgray;
  padding: 1em 0.5em;
  margin-bottom: 1em;
}

.input.inputError {
  margin-bottom: 0.25em;
}

.error {
  font-size: 0.6em;
  color: red;
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}
.error span {
  height: 100%;
  vertical-align: top;
}

.loading {
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}

.button {
  margin-bottom: 0.75em;

  padding: 0.5em;
  border: none;
  background-color: #938eef;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.loginButton button {
  width: 100%;
  padding: 0.5em;
  border: none;
  background-color: rebeccapurple;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
