.header {
  padding: 16px;
  border-bottom: 4px solid var(--substrate);

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.back {
}
.info {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
}
.name {
  font-weight: 700;
}
.lastOnline {
  font-size: 0.9em;
  color: var(--textColorSoft);
}
.controls {
  display: flex;
  align-items: center;
  gap: 1em;
}
.control {
  display: flex;
  align-items: center;
}
.userAvatar {
  width: 3em;
  height: 3em;
}
