.container {
  font-size: 2cqw;
  margin: 1cqw 3cqw;
  margin-bottom: 2cqw;
  padding: 1cqw;
  border-radius: 20px;
  color: var(--textColor);
  background-color: var(--bg);
  -webkit-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
  -moz-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
  box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);

  display: flex;
  align-items: center;
  gap: 1cqh;
  border: 1px solid var(--borderColor);
  border-radius: 20px;
  padding: 1cqw 1cqw;
}

.icon {
  font-size: 3cqw !important;
}

.search {
  border: none;
  background-color: transparent;
  color: var(--textColor);
  width: 100%;
  font-size: 2cqw;
  outline: none;
}
