
.main {
  position: relative;
  height: 96vh;
  container-type: size;
  background-color: var(--bgSoft);
  width: 80vw;
  overflow: scroll;
}
.main::-webkit-scrollbar {
  display: none;
}
@media (min-width: 1080px) {
  .main {
    position: relative;
    height: 96vh;
    container-type: size;
    background-color: var(--bgSoft);
    width: 40vw;
    overflow: scroll;
  }
}
