.navbar {
  container-type: size;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4vh;
  padding: 0.1cqh;
  border-bottom: 1px solid lightgrey;
  position: sticky;
  top: 0;
  background-color: var(--bg);
  color: var(--textColor);
  z-index: 999;
}
.navbar .icon {
  font-size: 40cqh !important;
}

.left {
  container-type: inline-size;
  width: 60cqw;
  padding-right: 5cqw;
  display: flex;
  align-items: center;
  gap: 1.4cqw;
  height: 100%;
}
.left span {
  height: 100%;
  line-height: 100%;
  font-weight: bold;
  font-size: 30cqh;
  vertical-align: middle;
  color: var(--logo);
}

.themeIcon {
  cursor: pointer;
}
.search {
  width: 100%;

  display: flex;
  align-items: center;
  gap: 1cqh;
  border: 1px solid var(--borderColor);
  border-radius: 5px;
  padding: 0.5cqh 0.5cqh;
}
.search input {
  border: none;
  background-color: transparent;
  color: var(--textColor);
  width: 100%;
  font-size: 30cqh;
  outline: none;
}

.right {
  container-type: inline-size;
  height: 100%;
  width: 40cqw;
  display: flex;
  align-items: center;
  gap: 1cqw;
  font-size: 1cqw;
}
.right svg:first-child {
  margin-left: auto;
}

.userLink {
  text-decoration: none;
  color: var(--textColor);
}
.right .user {
  display: flex;
  align-items: center;
  gap: 0.5cqw;
  font-size: 25cqh;
  font-weight: bold;
}
.user img {
  width: 3cqw;
  height: 3cqw;
  border: 1px solid var(--borderColor);
  border-radius: 50%;
  object-fit: cover;
}
.logout {
  height: 40cqh;
  width: 40cqh;
  font-size: 14cqh !important;
  padding: 10cqh;
}
.logoutIcon {
  font-size: 40cqh !important;
}
/* 
.user span {
} */
@media (min-width: 1080px) {
  .navbar {
    padding: 0.5cqh 11cqw 0.5cqh 16cqw;
  }
  .left {
    width: 50cqw;
  }
  .right {
    width: 50cqw;
  }
}
