.user {
  display: grid;
  grid-template-columns: min-content auto;
}
.link {
  text-decoration: none;
  cursor: pointer;
}

.avatar {
  box-sizing: border-box;
  border: 1px solid lightgrey;
  border-radius: 50%;
  aspect-ratio: 1 / 1;
}
.avatarlink {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.username {
  color: var(--textColor);
}
.username i {
  color: var(--textColorSoft);
}
