.registration {
  grid-area: header;

  height: 100vh;
  background-color: rgb(193, 190, 255);
  display: flex;
  align-items: center;
  justify-content: center;
}
.card {
  min-width: 60%;

  display: flex;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
}
.left {
  flex: 1;
  padding: 2em;
  display: flex;
  flex-direction: column;
  gap: 2em;
  justify-content: center;
}
.left h1 {
  color: #555555;
}
