.post {
  -webkit-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
  -moz-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
  box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
  border-radius: 20px;
  color: var(--textColor);
  background-color: var(--bg);

  padding: 16px;
}

.content {
  margin: 8px 0px;
  padding: 4px;
}

.media {
  margin-top: 8px;
}

.media:first-child {
  margin-top: 0px;
}
